#conceptos .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#conceptos article {
    margin: 15px;
    max-width: 284px;
    overflow: hidden;
}

#conceptos img {
    width: 100%;
}

h3, h6 {
    text-align: center;
}
