.countries-h2 {
    margin: 10px 0px;
    text-align: center;
}

.section-countries > div {
    padding-top: 55px;
}

.section-countries > div:first-child {
    padding-top: 0px;
}

.section-countries > div > h3 {
    text-decoration: underline;
}

@media only screen and (max-width: 576px) {
    .section-countries > div > p {
        font-size: 0.9rem;
    }
}