.info-h2 {
    text-align: center;
    margin: 10px 0px;
}

.buttonReview {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.info-edit-review {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.info-delete-review {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;    
}

.buttonReview:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.buttonReview:active {
    transform: scale(0.95);
}

.info-h2 ~ p {
    font-size: 1.1rem;
    text-align: center;
}

#section-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-centrado {
    text-align: center;
}

.card-info {
    position: relative;
    padding: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
}

.card-info h2 {
    font-size: 1.3rem;
}

.info-img {
    margin: 10px 0px;
    max-width: 400px;
    max-height: 400px;
}

.info-img img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;    
    border-radius: 2px;
}

.info-details { 
    display: flex;
    width: 100%;
    flex-direction: row; 
    justify-content: space-evenly;
}

.info-review {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    width: 66%;
}

.info-more-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-more-details p {
    text-align: center;
}

.score-verde {
    color: rgb(0, 128, 0);
}

.score-amarillo {
    color: rgb(255, 255, 0);
}

.score-rojo {
    color: rgb(255, 0, 0);
}

.info-negrita {
    font-weight: bold;
}

.sweet-alert-custom {
    display: flex;
    flex-direction: column;
}

.sweet-alert-custom div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .card-info {
        width: 300px;
    }

    .card-info h2 {
        font-size: 1rem;
    }

    .info-details { 
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
    }

    .info-review {
        width: 100%;
    }    
}
