@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Shippori+Mincho+B1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ppal-color: rgb(243, 173, 202);
}

body {
    background-color: rgb(245, 227, 241);
    font-family: 'Shippori Mincho B1';
}
